
h1, h2, h3, h4, h5, h6 {  
    font-family: "Montserrat-Bold";
}

#title {
    background-color: #051d35;
    
}

.container-fluid{
    padding: 3% 15%;
}

.Tobby{
    max-width:700px;
    max-height:500px;
    width: auto;
    height: auto;
}

.paulo{
    width: 100px;
  height: 100px;
  object-fit: cover;
}